<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>fii</title>
</head>
<body>
    <div class="content">
      <!-- make sure to prefix data attributes with data-nameofcontroller- -->
      <div data-controller="slideshow" data-slideshow-index="1" data-slideshow-alert="false">
        <button data-action="slideshow#previous">←</button>
        <button data-action="slideshow#next">→</button>

        <div data-target="slideshow.slide" class="slide">🐵</div>
        <div data-target="slideshow.slide" class="slide">🙈</div>
        <div data-target="slideshow.slide" class="slide">🙉</div>
        <div data-target="slideshow.slide" class="slide">🙊</div>
      </div>
    </div>
</body>
</html>
